{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>

    {{ include('registration/_form.html.twig') }}
    
{% endblock %}